@import url("/node_modules/@fontsource/montserrat/700.css");

html {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 26px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

button {
  width: auto;
  overflow: visible;
  background: transparent;
}
